<div class="modal fade" id="layoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog"><div class="modal-content"></div></div>
</div>

<!-- WRAPPER -->
<div class="wrapper">
    <!-- TOP BAR -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <!-- logo -->
                <div class="col-sm-2 logo">
                    <a href="/"> <?=$this->config->personalwork->projectname;?> </a>
                    <h1 class="sr-only"><?=$this->config->personalwork->projectname;?></h1>
                </div>
                <div class="col-sm-10 row">
                    <div id="topCustomMenu" class="col-sm-10">
                    <? $pe = \Pkerp\Models\EmployeeExtendinfo::findFirst("EmployeeId={$this->session->get('auth-identity')->employeeId} AND
                                                           key='".\Pkerp\Models\EmployeeExtendinfo::TOP_CUSTOMMENU."'");
                        if( !empty($pe) ){
                            $menus = unserialize($pe->value);
                            foreach ( $menus as $menu ) {
                                print("<li class='menu-item pull-left'>
                                        <a href='{$menu['link']}'>
                                        <i class='fa fa-sign-in'></i>
                                        <span class='text'>{$menu['label']}</span>
                                        </a>
                                       </li>");
                            }
                        }
                    ?>
                    </div>
                    <div class="col-sm-2">
                    <?=$this->partial('partial/blocks-top-bar-right');?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /top -->
    <div class="bottom">
        <div class="container">
            <div class="row">
                <!-- left sidebar -->
                <div class="col-md-2 left-sidebar">
                    <!-- mainnav -->
                    <?=$this->partial( $this->config->personalwork->viewphtml.
                                       $this->config->personalwork->themename.'-sidebarnav' );?>
                    <!-- sidebar content -->
                    <div class="sidebar-content">
                        <?=$this->partial('partial/blocks-sidebar-tips')?>
                    </div>
                </div>

                <!-- top general alert -->
                <?=$this->partial('partial/blocks-top-general-alert')?>

                <div class="col-md-10 content-wrapper">
                    <!-- breadcrumb -->
                    <?=$this->partial( $this->config->personalwork->viewphtml.
                                       $this->config->personalwork->themename.'-breadcrumb' );?>
                    <!-- maincontent -->
                    <?=$this->getContent();?>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /wrapper -->