<!DOCTYPE html>
<html>
<head>
    <title><?=$DOCTITLE;?></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="慶興進銷存管理系統-列印模組">
    <meta name="author" content="San Huang <san@perosnalwork.tw>">

    <!-- load.css manual -->
    <link rel="stylesheet" type="text/css" href="/misc/jplug/jquery-printarea/css/jquery.printarea.css" />
    <link rel="stylesheet" type="text/css" href="/misc/css/layouts-print.css" />

    <!-- load.js manual -->
    <script type="text/javascript" src="/misc/js/jquery/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/misc/jplug/jquery-printarea/js/jquery.printarea.js"></script>
</head>
<body>
    <!-- <div class="main-header">
        <h2><?=$PAGETITLE;?></h2>
        <em><?=$PAGEDESC;?></em>
        <? if (count($this->flashSession->getMessages(NULL, FALSE)) > 0): ?>
        <? $this->flashSession->output(); ?>
        <? endif; ?>
    </div> -->
    <center class="function-block">
        <button type="button" class="btn btn-lg btn-print color-print">直接列印</button>
        <? foreach ($LAYOUTPARAM as $button): ?>
        <? if( $button['type'] == 'a'):?>
        <a class="<?=$button['class'];?>" href="<?=$button['linkto'];?>"><?=$button['label'];?></a>
        <? elseif( $button['type'] == 'form'):?>
        <form action="<?=$button['linkto'];?>" method="post" style="display:inline-block;">
        <? foreach ($button['input'] as $input): ?>
            <input type="hidden" name="<?=$input['name'];?>" value="<?=$input['value'];?>" />
        <? endforeach; ?>
            <button type="submit" class="<?=$button['class'];?>"><?=$button['label'];?></button>
        </form>
        <? endif; ?>
        <? endforeach; ?>
    </center>
    <div class="main-content">


    <?=$this->getContent(); ?>
    </div>

<script type="text/javascript">
$(function(){
    $(".main-header").click(function(){
        $(this).remove();
    });
    $('.btn-print').click(function(){
        $('.printable').printArea({
            retainAttr : ['id','class'],
            mode: "popup",
            popClose: true
        });
    });
});
</script>
</body>
</html>