/*
    附加設定樣式

    1. 客戶日銷貨印單
    左側表最大寬度9.3~9.4cm(因為印表機邊界)
    右側表可到9.5cm
    一列高度0.6cm加邊界0.1共0.7cm，最多可放14列。

*/

.function-block{ text-align: center; }
.wizard {
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
  display: inline-block;
  width: 50%;
  margin: 10px auto;
}
.wizard:before, .wizard:after {
  display: table;
  line-height: 0;
  content: "";
}
.wizard:after {
  clear: both;
}
.wizard ul {
  width: 4000px;
  padding: 0;
  margin: 0;
  list-style: none outside none;
}
.wizard ul.previous-disabled li.complete {
  cursor: default;
}
.wizard ul.previous-disabled li.complete:hover {
  color: #468847;
  cursor: default;
  background: #f3f4f5;
}
.wizard ul.previous-disabled li.complete:hover .chevron:before {
  border-left-color: #f3f4f5;
}
.wizard ul li {
  position: relative;
  float: left;
  height: 46px;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
  color: #a5a5a5;
  cursor: default;
  background: #f2f2f2;
}
.wizard ul li:first-child {
  padding-left: 20px;
}
.wizard ul li .chevron {
  position: absolute;
  top: -24px;
  right: -14px;
  z-index: 1;
  display: block;
  border: 48px solid transparent;
  border-right: 0;
  border-left: 24px solid #fff;
}
.wizard ul li .chevron:before {
  position: absolute;
  top: -48px;
  right: 5px;
  display: block;
  border: 48px solid transparent;
  border-right: 0;
  border-left: 24px solid #f2f2f2;
  content: "";
}
.wizard ul li.complete {
  color: #fff;
  background: #4ba84b;
}
.wizard ul li.complete:hover {
  cursor: pointer;
  background: #49a449;
}
.wizard ul li.complete:hover .chevron:before {
  border-left: 24px solid #49a449;
}
.wizard ul li.complete .chevron:before {
  border-left: 24px solid #4ba84b;
}
.wizard ul li.active {
  color: #fff;
  background: #296eaa;
}
.wizard ul li.active .chevron:before {
  border-left: 24px solid #296eaa;
}
.wizard ul li .badge {
  position: relative;
  top: -2px;
  margin-right: 8px;
  padding: 4px 7px;
}
.wizard ul li .badge.badge-info {
  background-color: #1f5381;
}
.wizard ul li .badge.badge-success {
  background-color: #3b853b;
}

.badge {
    margin-right: 8px;
    padding: 4px 7px;
    position: relative;
    top: -2px;
    font-weight: 400;
    background-color: #777;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.btn{
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
}
.btn-lg{
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    margin:2px 10px;
}
.btn-info { background-color: #46b0cf; border-color: #34a6c8; }

.color-backprev{ color: #DFDFDF; background-color: #708090; }
.color-backprev:hover{ color: #FFFFFF; background-color: #696969; }
.color-print{ color: #FFF; background-color: #228B22; }
.color-print:hover{ background-color: #006400; }
.color-tonext{ color: #FFFFFF; background-color: #231EC7; border-color: #807DDB; }
.color-tonext:hover{ color: #FFFFFF; background-color: #504BE3; border-color: #807DDB; }

@media print {
    html, body { height: auto; margin: 0; padding:0 ; }
    body{
        font-family: "新細明體, 細明體";
        font-size: 0.75cm;
        background-color: #FFF !important;
    }
    .function-block{ display: none; }
    .page-content{
        /*超過這尺寸似乎會多印！*/
        max-height: 13.1cm;
        overflow: hidden;
    }

    input{
        border:none;
    }

    .doc-table { margin-top: 0.2cm; }
    .left-doc-table,
    .left-detail-table
    { float: left; width: 9.1cm; margin-left: 0.2cm; }
    .right-doc-table,
    .right-detail-table{ float: left; width: 9.5cm; margin-left: 0.2cm; }

        .title{
            float: left;
            margin: 0.1cm 0 0 1cm;
            font-size: 0.5cm;
            font-weight:bolder;
        }
        .makedate{
            float: right;
            margin: 0.3cm 1cm 0 0;
            font-size: 0.25cm;
        }
        .customer{
            float: left;
            margin: 0.2cm 0 0 0.15cm;
            font-size: 0.4cm;
            line-height: 0.4cm;
            font-weight:bolder;
        }
        .customer span{ font-size: 0.6cm; }

        .docdate,
        .detaildate{
            float: right;
            margin: 0.15cm 0.6cm 0 0;
            font-size: 0.27cm;
        }

    .head-lastrow{
        font-size: 0.3cm;
        border-bottom: 0.1cm double #000;
    }
        .head-lastrow th{
            border-bottom: 0.1cm double #000;
        }

    .doc-table tbody{ }
    .doc-table tbody tr{
        height: 0.9cm;
        max-height: 0.9cm;
        line-height: 0.9cm;
    }
        .doc-table tbody td{
            border-bottom: 0.04cm dotted #000;
            position: relative;
        }
        .doc-table tbody td > div{
            margin:0;padding:0;
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
        }
    .doc-table .displayname{
        width:69%;
        text-align: right;
        font-size: 0.75cm;
    }
        .static-row div{ text-align: left; }
    .doc-table .qty{
        width:17%;
        text-align: center;
        font-size: 0.7cm;
    }
    .doc-table .unit{
        width:13%;
        text-align: center;
        vertical-align: text-top;
    }

    .comment{
        padding-top: 0.08cm;
        font-size: 0.5cm;
    }
        .c-label{ float: left; width: 12%;}
        .c-content{ float: left; text-align: right; width:87%; }
}


/**
 * 統計報表功能樣式
 * .report-table
 * 1. 銷貨統計 qualitystatic qs
 * 2. 加總統計 qualitytotal qt
 * 3. 客戶銷貨統計表 pricecustomers pc
 * 4. 日銷貨總額 pricedaily pd
 **/
.report-table{
    width: 100%;
    border-spacing: 1px;
    border-collapse: separate;
}

    .report-table-inside{ width: 100%;}
    .report-table-inside, .report-table-inside tr{ border: 1px solid; }
    .report-table-inside td{
        text-align: center;
        padding: 0;
        white-space: nowrap;
    }

.report-table-tfoot{ text-align: right; }
.report-table-tfoot span{ display: inline-block; }

/*** 銷貨統計 ***/
.report-qs-th{ text-align: left; }
.report-qs-header{ margin-left: 4em; }
.report-qs-goodsitem{ margin-left: 2em; }
.report-qs-daterange{ margin-left: 15em; }

.report-qs-content{ width:5em; }
/*** 銷貨統計 ***/

/*** 加總統計 ***/
.report-qt-th{ text-align: left; }
.report-qt-header{ margin-left: 4em; margin-right: 10em; }
.report-qt-goodsitem{ margin-left: 1em; margin-right: 15em; }
.report-qt-daterange{ margin-left: 1em; }

.report-qt-cname{ padding-left: 1em; width:75%; text-align: left; }
.report-qt-qty{ padding-right:0.8em; width:25%; text-align: right; }
/*** 加總統計 ***/

/*** 客戶銷貨統計表 ***/
.report-table-pc-outside{ border-collapse: collapse; border-bottom: 3px solid; }
.report-table-pc-outside thead tr{ border-bottom: 3px solid; }

.report-table-pc-inside{ width: 100%; border-collapse: collapse; }
.report-table-pc-inside thead tr{ border-bottom: 1px solid; }

.report-pc-th{ text-align: left;  }
.report-pc-header{ font-size: 1.6em; margin-left: 5em; }
.report-pc-daterange{ font-size: 1.4em; margin-left: 15em; }

.report-pc-cname{
    padding-left: 1em !important;
    width:75%;
    text-align: left !important;
    border-bottom: 1px solid;
}
.report-pc-price{
    padding-right:0.8em !important;
    width:25%;
    text-align: right !important;
    border-bottom: 1px solid;
}
/*** 客戶銷貨統計表 ***/

/*** 日銷貨總額 ***/
.report-pd-th{ text-align: left;  }
.report-pd-header{ font-size: 1.4em; margin-left: 2em; }
.report-pd-daterange{ margin-left: 5em; }
.report-pd-label1{ margin-left: 6em; }
.report-pd-label2{ font-size: 1.1em; margin-left: 4em; }

.report-table-pd-inside{ width: 100%; border-collapse: collapse;}
.report-table-pd-inside thead tr{ border-bottom: 1.5px solid;}
.report-table-pd-inside tbody tr{ border-bottom: 1px dotted;}
.report-pd-cname{ padding-left: 1em; width:75%; text-align: left; }
.report-pd-price{ padding-right:0.8em; width:25%; text-align: right; }

.report-pd-label, .report-pd-content{ border-bottom: 3px double; width:2.5cm; }
.report-pd-label{ text-align: left; padding-left: 2em; }
.report-pd-content{ text-align: center; }
/*** 日銷貨總額 ***/