<div class="modal fade" id="layoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog"><div class="modal-content"></div></div>
</div>

<div class="wrapper">
    <!-- TOP BAR -->
    <div class="top-bar">
    <div class="container">
    <div class="row">
        <!-- logo -->
        <div class="col-sm-2 logo">
            <a href="/"> <?=$this->config->personalwork->projectname;?> </a>
            <h1 class="sr-only"><?=$this->config->personalwork->projectname;?></h1>
        </div>
        <div class="col-sm-10 row">
        </div>
    </div>
    </div>
    </div>

    <div class="bottom">
    <div class="container">
    <div class="row">

        <!-- maincontent -->
        <?=$this->getContent();?>
    </div>
    </div>
    </div>
</div>
